@import fonts
@import materialize

body
  margin: 0 1vw

header
  display: flex
  align-items: center
  vertical-align: center

  margin-top: 2rem
  margin-bottom: 1rem

  h1
    margin: 0

  .material-icons
    font-size: 5rem

    cursor: pointer

  // hack to target only first with class
  .capture-actions
    margin-left: auto
  .capture-actions ~ .capture-actions
    margin-left: 0

.action-bar
  text-align: right

  a
    margin-right: 1rem

.multi-value
  display: flex
  align-items: center

  a:first-of-type
    margin-left: auto

  a
    padding: 0 0.5rem

.icon-between-text
  font-size: 70%

@import host-list