@import fonts
@import materialize

body
  margin: 0 1vw

header
  display: flex
  justify-content: space-between
  align-items: center

  .material-icons
    font-size: 5rem

    cursor: pointer

.multi-value
  display: flex
  align-items: center

  a:first-of-type
    margin-left: auto

  a
    padding: 0 0.5rem